---
layout: layouts/base
---
div(style="height:100%")
    article(data-page=page.filePathStem) 
        |   !{content}
        nav(style="display:flex;gap:0.5em")
            - const prevWrote = filters.getPreviousCollectionItem(collections.writings,page)
            - const nextWrote = filters.getNextCollectionItem(collections.writings,page)
            if prevWrote
                - const {url,fileSlug} = prevWrote
                    a(href=url) &larr; prev wrote
            if prevWrote && nextWrote
                span(style="user-select:none") ...
            if nextWrote
                - const {url,fileSlug} = nextWrote
                    a(href=url) next wrote &rarr;

