h2 second
|   !{filters.image("blend.jpg","blend of heat","100vw")}
strong Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae deserunt beatae ipsa corrupti velit eveniet illum vel hic eius nostrum?
p Ratione architecto necessitatibus commodi cum nostrum, aut dolor quis voluptatum, non tenetur consequatur et nesciunt, porro soluta consectetur dolorem! Qui amet nulla eveniet deserunt eligendi ut vero, sed recusandae ipsam quisquam quod delectus provident atque reprehenderit rem voluptates tempore, dolorum rerum hic libero excepturi. Rerum, magnam impedit. Ab, mollitia eum.