h2 to great care taken
div.
        <i style="position: relative;"><span style="position: absolute; left: 0; text-transform: uppercase; ">
                    Soon
                    &searr;</span> <br style="margin-bottom: 1rem;">she turns that
                which travels in all of us, laid straight and calmly, into fingertips bored
                out-of-this-<small>world</small>
                <span style="color: cadetblue;">&SquareIntersection;</span>
            </i>
|   !{filters.image("to-great-care-taken/img3.jpeg","a view of time","100vw")}