---
layout: layouts/base
tags: nav
description: "Index page for all the writings of Marcus Aldrin"
---
ol
    each wrote in collections.writings
        - const {url,fileSlug} = wrote.data.page
        li.wrote-post
            a(href=url)= fileSlug